body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  width: 80%;
  margin: 10px auto;
  font-size: 14px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.comment-field-input-input {
  border-radius: 3px;
  border: 1px solid black;
  width: 90%;
  height: 26px;
}
.comment-field-textarea {
  min-width: 90%;
  min-height: 50px;
  border: 1px solid balck;
  border-radius: 3px;
}
.comment-field-button {
  background: gray;
  border-radius: 2px;
}
